@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Matshemhlophe area<br />
    Hlabisa,3937<br />
    <abbr title="Phone"></abbr>
    072-5526-040
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">msimangoksi@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">khayelihle.msimango@itrelated.co.za</a>
</address>
